*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.container-nav{
    background-color: orangered;
    height: 70px;
    position: fixed;
    z-index: 5;
	top: 0;
	right: 0;
	left: 0;
	overflow-x: hidden;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-ul{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    font-weight: 700;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.nav-logo{
    max-height: 30px;
    padding-left: 500px;
    padding-right: 500px;
}

main{
    height: 5000px;
    z-index: 0;
}

.container-main{
    background-color: aquamarine;
    width: 1800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

.container-prodotti{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 120px;
     
}

.container-img{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: calc(90% / 3);
    position: relative;
}

span{
    z-index: 4;
}

.img1{
    z-index: 1;
}

.img1b{
    position: absolute;
    z-index: 3;
    opacity: 0%; 
    width:100%;   
}

.img1b:hover{
    opacity: 100%;
    
}

.march-product{
    color: gray;
    font-size: 20px;
    font-weight: 700;
}

.name-product{
    color: black;
    font-size: 25px;
    font-weight: 900;
}

.product-price{
    color: red;
    font-size: 20px;
    font-weight: 700;
}

.sconto{
    position: absolute;
    background-color: red;
    top: 690px;
    padding: 7px 16px;
    color: white;
    font-weight: 700;
}

.cuoricino{
    position: absolute;
    background-color: white;
    right: 0;
    top: 15px;
    padding: 5px 18px;
    color: black;
    font-weight: 700;
    font-size: 40px;
}

.sostenibilità{
    position: absolute;
    background-color: green;
    top: 690px;
    left: 75px;
    padding: 7px 16px;
    color: white;
    font-weight: 700;
}




